/* eslint-disable */
<template>
  <div>
    <h1>Favoriten</h1>
    <hr>
    <DevicePanel v-for="device in devices" v-bind:deviceID="device.id"></DevicePanel>
  </div>
</template>

<script>
import DevicePanel from '../DevicePanels/DevicePanel'
export default {
  name: 'Favorites',
  components: {
    DevicePanel
  },

  props: {
    msg: String
  },
  methods: {
    loadFavoriteDevices () {

      this.$http.get(this.$baseURL+"favorites").then((response) => {
        this.devices = response.data;
      })

    }
  },
  data: function () {
    return {
      devices: []
    }
  },
  created: function() {
    this.loadFavoriteDevices()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
