<template>
    <div>
        <div class="row at-row no-gutter">
            <div class="col-md-12">

                <YamahaReceiver v-bind:device="deviceInfo" v-bind:show="show" v-bind:ws="this.deviceSocket"></YamahaReceiver>
            </div>
        </div>
    </div>
</template>

<script>
    import YamahaReceiver from './YamahaReceiver'
    export default {
        name: 'DevicePanel',
        components: {
            YamahaReceiver
        },

        props: {
            deviceID: Number
        },
        methods: {
            loadSocket () {
                this.deviceSocket = this.$ws.subscribe("device:"+this.deviceID);
                this.deviceSocket.on('ready', () => {
                    this.deviceSocket.emit('requestDeviceStatus', {device: this.deviceID})
                })

                this.deviceSocket.on("responseDeviceStatus", (message) => {
                    this.handleresponseDeviceStatus(message)
                })

                this.deviceSocket.on("actionSuccessful", (message) => {
                    this.handleactionSuccessful(message)
                })

            },

            handleresponseDeviceStatus (message ) {
                this.deviceInfo = message
                this.show = true
            },

            handleactionSuccessful (message) {
                if(message.status === "ok") {
                    this.$Notify.success({title: message.message})
                }
                if(message.status === "error") {
                    this.$Notify.error({title: message.message})
                }
            }
        },
        data: function () {
            return {
                deviceSocket: "",
                deviceInfo: {},
                show: false
            }
        },
        created: function() {
            this.loadSocket()
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
