<template>
    <div>
        <div>
            <at-card v-if="show"  :loading="!show">
                <h1 slot="title">
                    <i class="icon icon-star-on" v-if="this.device.device.favorite" style="color: gold;"></i>
                    <i class="icon icon-star" v-else></i>
                    {{ this.device.device.name }}
                </h1>
                <div>
                    <div class="row at-row no-gutter">
                        <div class="col-md-8">
                            <a href="#"  @click="togglePowerState">
                                <i class="icon" :class="device.hardwareType.icon" style="font-size: 150px;"></i>
                            </a>

                        </div>
                        <div class="col-md-16">
                            <div class="row at-row no-gutter">
                                <div class="col-md-24">
                                    <div style="width: 100%; text-align: center;">
                                        <at-dropdown trigger="click" style="width: 100%;">
                                            <at-button size="large"  class="extra-large"><i class="icon icon-airplay"></i> AirPlay <i class="icon icon-chevron-down"></i></at-button>
                                            <at-dropdown-menu slot="menu">
                                                <at-dropdown-item name="shenzhen">Shenzhen</at-dropdown-item>
                                                <at-dropdown-item name="guangzhou">Guangzhou</at-dropdown-item>
                                                <at-dropdown-item name="shanghai" disabled>Shanghai</at-dropdown-item>
                                                <at-dropdown-item name="beijin" divided>Beijing</at-dropdown-item>
                                            </at-dropdown-menu>
                                        </at-dropdown>
                                        <br>
                                        <br>
                                    </div>
                                </div>
                            </div>

                            <div class="row at-row no-gutter">
                                <div class="col-md-6">
                                    <at-button size="large" class="extra-large-circle" @click="increaseVolume" icon="icon-plus" circle></at-button>

                                </div>
                                <div class="col-md-12">
                                    <div style="width: 100%; padding-left: 10px;">
                                        <at-button size="large" class="extra-large"> {{ volume / 10}} dB</at-button>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <at-button size="large" class="extra-large-circle" @click="decreaseVolume" icon="icon-minus" circle></at-button>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </at-card>

        </div>

    </div>
</template>

<script>

    export default {
        name: 'YamahaReceiver',
        props: {
            device: Object,
            show: Boolean,
            ws: Object
        },

        methods: {
            turnOn () {
                this.ws.emit('startDevice', {device: this.device.device.id})

            },
            turnOff () {
                this.ws.emit('stopDevice', {device: this.device.device.id})

            },
            restart () {
                this.ws.emit('restartDevice', {device: this.device.device.id})

            },
            togglePowerState() {
                this.ws.emit('toggleDevice', {device: this.device.device.id})
            },
            increaseVolume() {
                this.ws.emit("increaseVolume", {device: this.device.device.id})
            },
            decreaseVolume() {
                this.ws.emit("decreaseVolume", {device: this.device.device.id})
            },
            setVolume( volume ) {
                this.ws.emit("setVolume", {device: this.device.device.id, volume: volume})
            },
            handleConfirm() {

            },
            handleCancel() {

            }
        },
        data: function () {
            return {
                volume: 0
            }
        },
        created: function() {
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .extra-large-circle {
        height: 140px;
        width: 140px;
    }
    .extra-large-square {
        height: 70px;
        width: 140px;
    }
    .extra-large {
        height: 140px;
        width: 100%;
    }
    .at-slider__dot {
        height: 70px;
        width: 70px;
    }
</style>
