<template>
  <div id="app">
    <Favorites></Favorites>

  </div>
</template>

<script>
import Favorites from "./components/Favorites/Favorites"

export default {
  name: 'app',
  components: {
    Favorites
  }
}
</script>

<style>

</style>
